.contacto{
    width: 100vw;
    height: calc(100vh - 6vh);
    background-color: var(--lila-fondos);
    z-index: 200;
    display: flex;
    flex-direction: column;
    gap: 3rem; 
    padding-top: 3rem;   
    box-sizing: border-box;
}
.contacto__titulo{
    color: var(--morado-dark);
}
.contacto__imagen{
    width: 100vw;
}
.contacto__body{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.contacto__formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
}
.contacto__div{
    display: flex;
    flex-direction: column;
}
.contacto__label{
    color: var(--morado-dark);
    font-family: var(--fuente-textos);
    padding-left: 1vw;
    padding-bottom: .5vh;
}
.contacto__input{
    font-family: var(--fuente-textos);
    color: var(--morado-dark);
    background-color: var(--rosa);
    border: none;
    width: 90vw;
    height: 5vh;
    border-radius: 3vh;
    padding: 2vw;
    box-sizing: border-box;
    outline: none;

    &:focus{
        border: solid var(--morado-dark) .2rem;
    }

    &::placeholder{
        color: var(--morado-dark);
        opacity: .8;
    }
}
.contacto__mensaje{
    font-family: var(--fuente-textos);
    height: 15vh;
}
.contacto__boton{
    background-color: var(--morado-dark);
    color: white;
}

@media screen and (min-width: 1024px) {
    .contacto{
        padding-top: 12vh;
    }
    .contacto__body{
        flex-direction: row;
        gap: 2rem;
    }
    .contacto__imagen{
        width: 48vw;
    }
    .contacto__formulario{
        justify-content: space-between;
        height: 60vh;
    }
    .contacto__input{
        width: 45vw;
        height: 7vh;
        border-radius: 4vh;
        padding: 1vw;
    }
    .contacto__mensaje{
        height: 15vh;
    }
}