.encriptador{
    box-sizing: border-box;
    width: 100vw;
    height: calc(100vh - 6vh);
    background: url(../assets/img/bg-encriptador.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.encriptador__textos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25vh;
    margin-top: 6rem;
    z-index: 200;
}
.encriptador__titulo{
    font-size: 6rem;
    font-family: var(--pokefont);
    color: var(--morado-dark);
    text-align: center;
}
.encriptador__texto{
    text-align: right;
    width: 50vw;
    border-right: solid .7rem;
    padding: 0 2.5rem 0 17rem;
    margin-top: 4rem;
}
.encriptador__imagen{
    width: 90vw;
    margin-bottom: 10rem;
}
@media screen and (min-width: 1024px) {
    .encriptador{
        height: 100vh;
        background: url(../assets/img/pc-encriptador-bg.svg);
        flex-direction: row-reverse;
        align-items: initial;
        justify-content: space-between;
    }
    .encriptador__textos{
        width: 45%;
        height: 10vh;
        padding: 3.5vh 2rem;
        margin-top: 20vh;
    }
    .encriptador__titulo{
        font-size: 3rem;
    }
    .encriptador__texto{
        width: 30vw;
        font-size: 1.5rem;
        border-right: solid .3rem;
        padding: 0 .5rem 0 8rem;
        margin-top: .5rem;
    }
    .encriptador__imagen{
        width: 50vw;
        margin-bottom: -3rem;
    }
    .encriptador__botones{
        position: absolute;
        right: 0;
    }
}