.experiencia{
    /* z-index: 100; */
    position: relative;
    width: 100vw;
    height: calc(100vh - 6vh);
    box-sizing: border-box;
}
.experiencia__portada{
    background-color: var(--azul);
    z-index: 100;
    position: relative;
    width: 100vw;
    height: calc(100vh - 6vh);
    display: flex;
    align-items: center;
    justify-content: center;
}
.experiencia__titulo{
    color: var(--morado-dark);
    line-height: 10rem;
    text-align: center;
}
.experiencia__hijo1{
    position: relative;
}
/* ------------------Botones---------------------------- */
.botones{
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 100;
    bottom: 5rem;
    width: 100vw;
}
.boton{
    display: flex;
    width: 25rem;
    height: 9rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: var(--pokefont);
    /* padding: 1rem; */
    border-radius: 8rem;
    font-size: 2rem;
}
.botones__repositorio{
    background-color: var(--morado-dark);
    border: solid .2rem white;
    color: white;
}
.botones__repositorio:hover{
    background-color: var(--lila-fondos);
    border: solid .2rem var(--morado-dark);
    color: var(--morado-dark);
}
.botones__web{
    background-color: var(--lila-fondos);
    border: solid .2rem var(--morado-dark);
    color: var(--morado-dark);
}
.botones__web:hover{
    background-color: var(--morado-dark);
    border: solid .2rem white;
    color: white;
}
@media screen and (min-width: 1024px) {
    .experiencia__portada{
        padding-top: 6vh;
    }
    .botones{
        position: absolute;
        bottom: 5rem;
        width: 50vw;
    }
    .boton{
        width: 20vw;
        height: 10vh;
        justify-content: center;
        align-items: center;
        border-radius: 8rem;
        font-size: 1rem;
    }
    .botones__repositorio{
        border: solid .1rem white;
    }
    .botones__repositorio:hover{
        border: solid .1rem var(--morado-dark);
    }
    .botones__web{
        border: solid .1rem var(--morado-dark);
    }
    .botones__web:hover{
        border: solid .1rem white;
    }
}