.formacion{
    width: 100vw;
    height: calc(100vh - 6vh);
    background-color: var(--amarillo);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 5;
}
.formacion__titulo{
    color: var(--morado-dark);
    text-align: center;
    position: absolute;
    top: 45%;
}
.formacion__div{
    display: flex;
    width: 100vw;
    position: relative;
    box-sizing: border-box;
}
.formacion__imagen{
    box-sizing: border-box;
    width: 60vw;

}
.business{
    /* translate: -8vw; */
    position: absolute;
    top: 9rem;
}
.html-css{
    position: absolute;
    /* translate: -60vw; */
    top: 9rem;
    left: 23.75rem;
}
.desarrollo-personal{
    position: absolute;
    top: 62.5rem;
    /* translate: -8vw; */
    
}
.principiante{
    position: absolute;
    top: 62.5rem;
    left: 23.75rem;

    /* translate: -60vw; */

}