.hobbies{
    width: 100vw;
    height: calc(100vh - 6vh);
    background-color: var(--rosa);
}
.hobbies__banner{
    z-index: 10;
    position: relative;
    background-color: var(--lila-fondos);
    height:10vh;
    bottom: .2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.hobbies__titulo{
    z-index: 11;
    color: var(--morado-elementos);
}
.hobbies__body{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
    gap: 1.5rem;
    justify-items: center;
    z-index: 1;
    position: relative;
    bottom: 15rem;
}
/* ---------------------------Estilos de cards----------------------------------- */
.hobbies__card{
    width: 25rem;
    height: 30rem;
    background-color: var(--morado-elementos);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* align-items: center; */
    place-self: center;
}
.desfase--abajo{
    margin-top: 5rem;
}
.hobbies__imagen{
    background-color: grey;
    width: 25rem;
    height: 20rem;
}
.hobbies__texto{
    font-size: 2.5rem;
    margin: .7rem 4rem;
    text-align: center;
}
.ig-iconos{
    padding: 0 1rem;
    height: 5rem;
    box-sizing: border-box;
}
/* .hobbies__iconos{
    display: flex;
    box-sizing: border-box;
    margin: 1rem 0 1rem .5rem;
    gap: .5rem;
        &::before{
            content: '';
            position: relative;
            width: 3.5rem;
            height: 3.5rem;
            background: url(../assets/img/like-ig.svg);
            background-size: cover;
        }
        &::after{
            content: '';
            position: relative;
            width: 3.5rem;
            height: 3.5rem;
            left: 33%;
            background: url(../assets/img/guardar-ig.svg);
            background-size: cover;
        }
} */
/* .hobbies__iconos::after{
    content: '';
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    left: 33%;
    background: url(../assets/img/github.png);
    background-size: cover;
} */
/* .hobbies__icon{
    width: 3.5rem;
    height: 3.5rem;
} */

@media screen and (min-width: 1024px) {
    .hobbies{
        height: 106vh;
        /* padding-top: 6rem; */
    }
    .hobbies__banner{
        height: 20vh;
        bottom: .2rem;
        padding-top: 6vh;
    }
    .hobbies__card{
        width: calc(100vw/5);
        height: 60vh;
    }
    .hobbies__texto{
        font-size: 1.5rem;
    }
    .hobbies__imagen{
        background-color: grey;
        width: 100%;
        height: 20rem;
    }
    .ig-iconos{
        padding: .5rem 1rem;
        height: 4rem;
    }
    .desfase--abajo{
        margin-top: 3rem;
    }
    .desfase--arriba{
        margin-bottom: 3rem;
    }
}