.nooks{
    /* background-color: var(--lila-fondos); */
    background-color: var(--azul);
    width: 100vw;
    height: calc(100vh - 6vh);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
}
.nooks_text{
    margin-top: 8vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-evenly;
    height: 30vh;
}
.nooks_title{
    font-size: 3.5rem;
    padding-left: 2rem;
    border-left: solid .4rem var(--morado-dark) ;
    width: 30vw;
    font-family: var(--pokefont);
    color: var(--morado-dark);
    text-align: left;
}
.nooks_botones{
    position: absolute;
    top: 10rem;
    right: 7rem;
}
.nooks_description{
        text-align: left;
        width: 45vw;
}
.nooks_mockups{
    height: 60vh;
    display: flex;
    align-items: center;
}
.nooks_desktop{
    margin-top: 12vh;
    width: 60vw;
    height: 60vh;
    position: relative;

    &::before{
        content: '';
        position: absolute;
        left: 5vw;
        display: block;
        background-image: url(../assets/img/nooksPc1.png);
        background-position: center;
        background-size: cover;
        width: 25vw;
        height: 32vh;
    }
    &::after{
        content: '';
        position: relative;
        left: 35vw;
        top: -50vh;
        display: block;
        background-image: url(../assets/img/nooksPc2.png);
        background-position: center;
        background-size: cover;
        width: 25vw;
        height: 32vh;
    }
}
.nooks_pc{
    width: 30vw;
    position: relative;
    left: 15vw;
}
.nooks_phone{
    width: 35vw;
}