.pokemart{
    height: calc(100vh - 6vh);
    width: 100vw;
    background: var(--rosa);
    overflow: hidden;
    /* display: flex;
    flex-direction: column;
    z-index: 150; */
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemart__textos{
    width: 80vw;
    position: absolute;
    padding-top: 6vh;
}
.pokemart__titulo{
    font-size: 6rem;
    font-family: var(--pokefont);
    color: var(--morado-dark);
    text-align: center;
}
.pokemart__texto{
    width: 40vw;
    margin-top: 3vh;
    margin-left: 5vw;
    padding-left: 3rem;
    border-left: solid var(--morado-dark) .5rem;
}
.pokemart__carousel{
    align-items: center;
    background: transparent;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    position: relative;
    top: 35vh;
    rotate: 345deg;
    left: 3vw;
}
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 4))}
}
@keyframes negScroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(250px * 4))}
}
.pokemart__slider{
    background: transparent;
    height: 15vh;
    margin: auto;
    overflow:hidden;
    position: relative;
    width: 100vw;
    
    &::before,
    &::after {
        /* @include white-gradient; */
        content: "";
        height: 15vh;
        position: absolute;
        width: 200px;
        z-index: 2;
    }
    
    .pokemart__slider-track{
        animation: scroll 15s linear infinite;
        display: flex;
        gap: 1rem;
        width: 100vw;
    }
    .animacion--contraria{
        animation: negScroll 15s linear infinite;
    }
    
    .pokemart__slide {
        height: 15vh;
        width: auto;
    }

}
@media screen and (min-width: 1024px) {
    .pokemart{
        height: 100vh;
        padding-top: 6vh;
    }
    .pokemart__textos{
        border-left: solid var(--morado-dark) .3rem;
        padding-top: 6vh;
        padding-left: 3vw;
        left: 10vw;
    }
    .pokemart__titulo{
        font-size: 4rem;
        text-align: left;
    }
    .pokemart__texto{
        text-align: left;
        width: 30vw;
        padding-left: 0;
    }

    .pokemart__carousel{
        align-items: center;
        background: transparent;
        display: flex;
        flex-direction: column;
        height: 70vh;
        justify-content: center;
        position: relative;
        top: 50vh;
        rotate: 345deg;
        left: 3vw;
    }
    @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-250px * 4))}
    }
    @keyframes negScroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(250px * 4))}
    }
    .pokemart__slider{
        background: transparent;
        height: 100px;
        margin: auto;
        overflow:hidden;
        position: relative;
        width: 100vw;
        
        &::before,
        &::after {
            /* @include white-gradient; */
            content: "";
            height: 100px;
            position: absolute;
            width: 200px;
            z-index: 2;
        }
        
        .pokemart__slider-track{
            animation: scroll 15s linear infinite;
            display: flex;
            gap: 1rem;
            width: 100vw;
        }
        .animacion--contraria{
            animation: negScroll 15s linear infinite;
        }
        
        .pokemart__slide {
            height: 100px;
            width: 250px;
        }

    }
}