.skills{
    background-color: var(--azul);
    width: 100vw;
    height: calc(100vh - 6vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}
.skills__titulo{
  color: var(--morado-elementos);
}
.skills__carusel{
  position: relative;
  width: 50vw;
  height: 400px;
  perspective: 1000px;
}
.skills__carusel--content{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
  animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.skills__card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  background-color: var(--morado-elementos);
  width: 50vw;
  height: 30vh;
  left: 10px;
  opacity: .95;
  top: 10px;
  background-color: var(--morado-elementos);
}
.skills__imagen{
  width: 70%;
}
.skills__subtitulos{
  color: var(--morado-dark);
  text-align: center;
  font-size: 2.5rem;
}
.html{
  transform: rotateY(0deg) translateZ(50vw);
}
.css{
  transform: rotateY(72deg) translateZ(50vw);
}
.js{
  transform: rotateY(144deg) translateZ(50vw);
}
.bootstrap{
  transform: rotateY(216deg) translateZ(50vw);
}
.react{
  transform: rotateY(288deg) translateZ(50vw);
}
@keyframes carousel {
  0%,  5%    {transform: translateZ(-35vw) rotateY(0deg);}
  5%,  20%    {transform: translateZ(-35vw) rotateY(72deg);}
  25%, 40%   { transform: translateZ(-35vw) rotateY(-144deg); }
  45%, 60%   { transform: translateZ(-35vw) rotateY(-216deg); }
  65%, 80%   { transform: translateZ(-35vw) rotateY(-288deg); }
  85%, 100%  { transform: translateZ(-35vw) rotateY(-360deg); }
}

.heart{
  font-size: 3rem;
  color: var(--morado-elementos);
}
.heart:hover{
  color: var(--morado-dark);
}

@media screen and (min-width: 1024px) {
  .skills{
    height: 100vh;
    padding-top: 12vh;
  }
  .skills__subtitulos{
    font-size: 1.8rem;
  }
  .skills__carusel{
    margin-top: 6rem;
    width: 25vw;
    height: 400px;
  }
  .skills__carusel--content{
    width: 100%;
    height: 100%;
  }
  .skills__card{
    width: 25vw;
    height: 20vw;
    left: 10px;
    top: 10px;
  }
  .skills__imagen{
    width: 55%;
  }
  .html{
    transform: rotateY(0deg) translateZ(30vw);
  }
  .css{
    transform: rotateY(72deg) translateZ(30vw);
  }
  .js{
    transform: rotateY(144deg) translateZ(30vw);
  }
  .bootstrap{
    transform: rotateY(216deg) translateZ(30vw);
  }
  .react{
    transform: rotateY(288deg) translateZ(30vw);
  }
}