.sobreMi{
    padding: 7rem 0;
    box-sizing: border-box;
    background-color: var(--amarillo);
    height:calc(87vh - 6vh);
   /* display: flex;
    flex-direction: column;
    align-items: center;  */
    /* gap: 0rem; */
}
.sobreMi__columnas{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.sobreMi__left{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.sobreMi__right{
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    display: grid;
}
.sobreMi__figure{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .sobreMi__figure::before{
    content: '';
    display: block;
    position: absolute;
    z-index: .1;
    width: 180px;
    height: 180px;
    background-color: var(--morado-dark);
    border-radius: 50%;
}
.sobreMi__figure::after{
    content: '';
    display: block;
    position: relative;
    bottom: 8rem;
    left: 23rem;
    z-index: .1;
    width: 150px;
    height: 150px;
    background-color: var(--morado-elementos);
    border-radius: 50%;
} */
.sobreMi__foto{
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    border: solid var(--morado-dark) .8rem;
}
.sobreMi__titulo{
    color: var(--morado-elementos);
    margin-bottom: 5rem;
}
.sobreMi__texto{
    width: 80vw;
    margin-bottom: 3rem;
    display: flex;
}
.sobreMi__lista{
    display: flex;
    justify-content: space-around;
    width: 70%;
    justify-self: center;
}
.sobreMi__item--email::before{
    content: '';
    background-image: url(../assets/img/correo-electronico.png);
    display: block;
    width: 5rem;
    height: 5rem;
    background-size: cover;
    position: relative;
    bottom: 1.2rem;
    left: .5rem;
}
.sobreMi__item--github::before{
    content: '';
    background-image: url(../assets/img/github.png);
    display: block;
    width: 5rem;
    height: 5rem;
    background-size: cover;
    position: relative;
    bottom: 1.2rem;
    left: .5rem;
}
.sobreMi__item--linkedin::before{
    content: '';
    background-image: url(../assets/img/linkedin.png);
    display: block;
    width: 5rem;
    height: 5rem;
    background-size: cover;
    position: relative;
    bottom: 1.2rem;
    left: 1rem;
}

@media screen and (min-width: 1024px) {
    .sobreMi{
        height: 100vh;
        padding: 12vh 0;
    }
    .sobreMi__columnas{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }
    .sobreMi__left{
        translate: initial;
    }
    .sobreMi__figure{
        width: 30vw;
    }
    .sobreMi__foto{
        width: 30vw;
        height: 30vw;
    }
    .sobreMi__titulo{
        margin-bottom: 2rem;
    }
    .sobreMi__texto{
        width: 55vw;
        height: 40vh;
        margin-bottom: 0;
    }
}